@import url(header.css);
@import url(main.css);
@import url(achievements.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background:
        linear-gradient(120deg,
            var(--galaxycolor1),
            var(--galaxycolor2),
            var(--galaxycolor3),
            var(--galaxycolor4));
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background: #333;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg,
            #1E90FF,
            #0A3D91);
    border-radius: 10px;
    border: 2px solid #0A3D91;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg,
            #FFD700,
            #1E90FF);
    box-shadow: 0 0 6px #1E90FF, 0 0 12px #1E90FF;
}

#stars {
    position: fixed;
    inset: 0;
    z-index: -1;
}

:root {
    --colorprimary: snow;
    --star-color: snow;
    --galaxycolor1: #05010d 0%;
    --galaxycolor2: #0b0220 30%;
    --galaxycolor3: #120437 60%;
    --galaxycolor4: #02000a 100%;
}


code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}