@import url(header.css);
@import url(main.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    overflow-x: hidden;
    min-height: 100vh;
    background: linear-gradient(90deg, #7EC8E3 0%, #FF1493 100%);
}

:root {
    --colorprimary: snow;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background: #333;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg,
            #7EC8E3,
            #FF1493);
    border-radius: 10px;
    border: 2px solid #FF1493;
    cursor: pointer;
}

#stars {
    position: fixed;
    margin-top: 80px;
    inset: 0;
    z-index: -1;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}