@import url(header.css);
@import url(main.css);
@import url(achievements.css);
@import url(skills.css);
@import url(project.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    overflow-x: hidden;
    min-height: 100vh;
    background: radial-gradient(ellipse at bottom right, var(--color-galaxy1), var(--color-galaxy2));
}

:root {
    --colorprimary: snow;
    --color-galaxy1: #1b2735 0%;
    --color-galaxy2: #090a0f 100%;
    --gradient1-boxproject: rgba(194, 194, 194, 0.7);
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background: #333;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg,
            #1E90FF,
            #0A3D91);
    border-radius: 10px;
    border: 2px solid #0A3D91;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg,
            #ff0000,
            #1E90FF);
    box-shadow: 0 0 6px #1E90FF, 0 0 12px #1E90FF;
}

#stars {
    position: fixed;
    margin-top: 80px;
    inset: 0;
    z-index: -1;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}