@import url(https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap);

header {
    position: fixed;
    top: -1px;
    left: -1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 80px;
    padding: 10px 20px;
    z-index: 100;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    & .logodiv {
        position: absolute;
        top: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & .btns {
        position: absolute;
        top: 24px;
        right: 30px;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
}

.Title {
    font-family: 'VT323', monospace;
    font-size: 22px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    color: var(--colorprimary);
}

.Title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 3px;
    background: linear-gradient(to right, rgba(255, 0, 0, 0.5), rgba(30, 136, 229, 0.5));
    transition: width 0.5s ease;
    animation: LineLoading 5s linear infinite;
}

@keyframes LineLoading {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

/* button theme switch */
.switch {
    display: flex;
    align-items: center;
}

.switchlabel {
    width: 60px;
    height: 30px;
    position: relative;
    display: block;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.3s;
}

.switchlabel:after {
    content: "";
    width: 28px;
    height: 28px;
    position: absolute;
    top: 1px;
    left: 2px;
    background: linear-gradient(180deg, #777, #3a3a3a);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.switchinput {
    width: 0;
    height: 0;
    visibility: hidden;
}

.switchinput:checked+.switchlabel {
    background: #242424;
}

.switchinput:checked+.switchlabel:after {
    left: 60px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #ffcc89, #d8860b);
}

.switchlabel svg {
    position: absolute;
    width: 24px;
    top: 3px;
    z-index: 100;
}

.switchlabel svg.lua {
    left: 4px;
    fill: var(--colorprimary);
    transition: 0.3s;
}

.switchlabel svg.sol {
    left: 34px;
    fill: #7e7e7e;
    transition: 0.3s;
}

.switchinput:checked+.switchlabel svg.lua {
    fill: #7e7e7e;
}

.switchinput:checked+.switchlabel svg.sol {
    fill: var(--colorprimary);
}

/* button githubstars */
.Githubstar,
.Githubstaroff,
.Githubstar .icon.github,
.Githubstaroff .icon.github {
    background: transparent;
    outline: none;
}

.Githubstar:hover,
.Githubstaroff:hover {
    background: none;
}

.Githubstar {
    display: grid;
    grid-template-columns: 24px 1fr 24px;
    align-items: center;
    gap: 8px;

    padding: 5px 5px;
    min-width: 100px;

    font-size: 15px;
    font-weight: 500;

    color: var(--colorprimary);

    background: transparent;
    border: 1px solid var(--colorprimary);
    border-radius: 12px;

    cursor: pointer;
    transition: all 0.25s ease;
}

.Githubstaroff {
    display: grid;
    grid-template-columns: 24px 1fr 24px;
    align-items: center;
    gap: 8px;

    padding: 4px 5px;
    min-width: 100px;

    font-size: 15px;
    font-weight: 500;

    color: var(--colorprimary);
    background: transparent;

    border: 2px solid #ff3b3b;
    box-shadow: 0 0 25px rgba(255, 0, 0, 0.35);
    animation: pulseGlow 2s infinite ease-in-out;
    border-radius: 12px;

    cursor: pointer;
    transition: all 0.25s ease;
}

.Githubstar:hover {
    background: rgba(255, 255, 255, 0.4);
    transform: translateY(-2px);
}

.Githubstar .github svg {
    width: 22px;
    height: 22px;
}

.Githubstar .star {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    font-size: 18px;
    color: #f5c542;
    transform: translateY(-1px);
}

.Githubstaroff .error {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    font-size: 18px;
    transform: translateY(-1px);
}

.Githubstar .label {
    text-align: center;
    pointer-events: none;
}

.Githubstar:hover .star {
    color: #ffd966;
    text-shadow: 0 0 10px rgba(255, 217, 102, 0.6);
}

/* Button menu */
.MenuBtn {
    display: flex;
    align-items: center;

    padding: 10px 16px;
    min-width: 100px;

    color: var(--colorprimary);
    font-size: 15px;
    font-weight: 500;

    background: transparent;
    border: 1px solid var(--colorprimary);
    border-radius: 12px;

    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    cursor: pointer;
    transition: all 0.25s ease;
}

.MenuBtn:hover {
    background: rgba(255, 255, 255, 0.4);
    transform: translateY(-2px);
}

.MenuBtn .label {
    pointer-events: none;
    z-index: 1;
}

.MenuBtn .icon {
    position: absolute;
    right: 10px;
    width: 22px;
    height: 22px;
    color: var(--colorprimary);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.25s ease;
}

.MenuBtn .icon-close {
    opacity: 0;
    transform: scale(0.5);
    pointer-events: none;
}

.MenuBtn.active .icon-open {
    opacity: 0;
    transform: scale(0.5);
    pointer-events: none;
}

.MenuBtn.active .icon-close {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}

/* Menu options */
header.active {
    height: 100vh;
}

.MenuContainer {
    position: relative;
}

.MenuOptions {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 146%;
    right: -10px;
    padding: 1rem;
    border-radius: 0.5rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-width: 150px;
    z-index: 100;
}

.MenuOptions li a {
    font-size: 6rem;
    color: white;
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.2s, transform 0.5s ease;
}

.MenuOptions li a:hover {
    color: #ff0000;
}

/* responsividade */
@media (max-width: 1024px) {
    header {
        flex-direction: column;
        align-items: center;
        height: auto;
        height: 70px;
        padding: 8px 16px;
    }

    .Title::after {
        width: 100%;
        background: linear-gradient(90deg,
                #000000,
                #ff0000,
                #ffffff,
                #ffd700);
    }

    & .logodiv {
        width: 100%;
        margin-bottom: 10px;
    }

    .btns {
        gap: 8px;
    }

    .Githubstar,
    .MenuBtn {
        padding: 6px 12px;
        font-size: 14px;
        min-width: 90px;
    }

    .Githubstaroff {
        padding: 4px 10px;
        font-size: 10px;
        min-width: 90px;
    }

    .switchlabel {
        width: 58px;
        height: 28px;
    }

    .switchlabel:after {
        width: 28px;
        height: 27px;
    }

    .switchlabel svg.sol {
        left: 32px;
    }

    .switchinput:checked+.switchlabel:after {
        left: 58px;
        transform: translateX(-100%);
    }
}

@media (max-width: 900px) {
    header {
        border-bottom: 2px solid rgba(255, 255, 255, 0.2);

        & .btns {
            top: 18px;
            right: 15px;
        }
    }

    header.active {
        height: 101vh;
    }

    .Title {
        display: none;
    }

    .btns {
        width: 90%;
        justify-content: space-between;
    }

    .MenuContainer button {
        height: 39px;
    }

    .MenuOptions {
        width: 100vw;
        height: 50vh;
        top: 100px;
        right: -12px;
        justify-content: center;
        align-items: center;
    }

    .MenuOptions li a {
        font-size: 3rem;
    }
}