section {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 10%;
    gap: 60px;
}

section h1 {
    color: var(--colorprimary);
}

.second-section h1,
.three-section h1,
.four-section h1 {
    font-size: 80px;
}

.first-section .scroll-indicator {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.second-section,
.three-section {
    display: flex;
    flex-direction: column;
}

.scroll-indicator {
    transition: opacity 0.25s ease;
}

.mouse {
    width: 26px;
    height: 56px;
    border: 2px solid white;
    border-radius: 26px;
    display: flex;
    justify-content: center;
    padding-top: 8px;
    box-sizing: border-box;
}

.wheel {
    width: 8px;
    height: 8px;
    background: white;
    border-radius: 50%;
    animation: scrollWheel 1.8s infinite ease-in-out;
}

@keyframes scrollWheel {
    0% {
        opacity: 0;
        transform: translateY(0);
    }

    25% {
        opacity: 1;
    }

    70% {
        opacity: 0.6;
        transform: translateY(20px);
    }

    100% {
        opacity: 0;
        transform: translateY(26px);
    }
}

.My {
    flex: 1;
    width: 100%;
    text-align: left;
    padding: 50px;
}

.My h1 {
    font-size: 80px;
    margin: 0;
    background: linear-gradient(90deg, #1e90ff, #00bfff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.1;
}

.My h4 {
    font-size: 30px;
    font-weight: bolder;
    color: snow;
    text-shadow: 2px 2px 2px #c01515, -2px -2px 2px #1e88e5;
    margin: 25px 0 40px 0;
}

.My .boxname {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
}

.My .boxname h3 {
    font-size: 50px;
    font-weight: 400;
    color: #aaa;
    margin-bottom: 15px;
    margin-top: auto;
}

.My .boxname img {
    margin-left: 10px;
    width: 120px;
    filter: drop-shadow(0 0 2px rgb(255, 255, 255)) drop-shadow(0 0 5px rgb(255, 255, 255));
    animation: shadowPower 6s ease-in-out infinite;
}

@keyframes shadowPower {

    0% {
        filter: drop-shadow(0 0 2px rgb(255, 255, 255)) drop-shadow(0 0 5px rgb(255, 255, 255));
    }

    100% {
        filter: drop-shadow(0 0 4px rgb(255, 1, 1)) drop-shadow(0 0 10px rgb(104, 0, 0));
    }
}

.contribution-graph {
    margin-top: 40px;
    width: 70%;
    cursor: pointer;
}

/* BOTÕES */

.boxbuttons {
    width: 70%;
}

.My .Resume {
    position: relative;
    width: 100%;
    padding: 16px 28px;
    margin-bottom: 16px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(90deg, #c01515, #1e88e5);
    color: white;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}

.My .Resume::before {
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    right: -10px;
    bottom: 0;
    background: linear-gradient(to right, rgba(255, 0, 0, 0.5), rgba(30, 136, 229, 0.5));
    filter: blur(20px);
    z-index: -1;
    border-radius: 10px;
}

.My .Resume:hover {
    background: linear-gradient(90deg, #1e88e5, #1e88e5);
}

.My .Resume:hover::before {
    background: linear-gradient(to right, rgba(30, 136, 229, 0.5), rgba(30, 136, 229, 0.5));
}

.My .midiasocial {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
}

.iconBtn {
    width: 100%;
    height: 50px;
    border-radius: 12px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: linear-gradient(145deg, #1e1e1e, #2a2a2a);
    color: white;
    font-weight: 600;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

.iconBtn:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.6);
}

/* Cores no hover */
.hireme:hover,
.github:hover,
.linkedin:hover {
    background: #0a66c2;
}

.box {
    flex: 1;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.box .Perfil {
    width: 100%;
    max-width: 300px;
    border-radius: 20px;
    animation: rainbowGlow 10s linear infinite;
    transition: transform 0.4s ease;
    cursor: pointer;
}

.box .Perfil:hover {
    transform: scale(1.05) rotate(5deg);
}

@keyframes rainbowGlow {
    0% {
        filter: drop-shadow(0 0 4px #00e5ff) drop-shadow(0 0 10px #00bcd4);
    }

    50% {
        filter: drop-shadow(0 0 8px #ff0000) drop-shadow(0 0 15px #d40000);
    }

    100% {
        filter: drop-shadow(0 0 4px #00e5ff) drop-shadow(0 0 10px #00bcd4);
    }
}


/* RESPONSIVO */
@media (max-width: 900px) {
    section {
        flex-direction: column;
        margin-top: 10px;
    }

    section h1 {
        margin-top: 90px;
    }

    .second-section h1,
    .three-section h1,
    .four-section h1 {
        font-size: 50px;
    }

    .My {
        flex: 1;
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    .boxbuttons {
        width: 100%;
    }

    .first-section .scroll-indicator {
        display: none;
    }

    .My,
    .box {
        max-width: 100%;
    }

    .My h1 {
        font-size: 36px;
    }

    .box img {
        max-width: 300px;
    }

    .My .boxname {
        flex-direction: column;
        justify-content: center;
    }

    .My .boxname h3 {
        font-size: 30px;
        margin-top: center;
    }

    .My .boxname img {
        margin-bottom: 10px;
        width: 80px;
        filter: drop-shadow(0 0 1px rgb(255, 255, 255)) drop-shadow(0 0 2px rgb(255, 255, 255));
    }

    .contribution-graph {
        margin-top: 40px;
        width: 100%;
    }
}

@media (orientation: landscape) and (max-height: 768px) {
    .first-section .scroll-indicator {
        bottom: 80px;
    }

    .My {
        flex: 1;
        width: 100%;
        text-align: left;
        padding: 40px;
    }

    .My h1 {
        font-size: 60px;
        margin: 0;
        background: linear-gradient(90deg, #1e90ff, #00bfff);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        line-height: 1.1;
    }

    .My h4 {
        font-size: 22px;
        font-weight: 400;
        color: #ccc;
        margin: 25px 0 40px 0;
    }

    .My .boxname {
        display: flex;
        flex-direction: row-reverse;
        justify-content: start;
        align-items: center;
    }

    .My .boxname h3 {
        font-size: 40px;
        font-weight: 400;
        color: #aaa;
        margin-bottom: 15px;
        margin-top: auto;
    }

    .box .Perfil {
        width: 100%;
        max-width: 250px;
        border-radius: 20px;
        animation: rainbowGlow 5s linear infinite;
        transition: transform 0.4s ease;
    }
}