@import url('https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css');

.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 50px;
    justify-items: center;
    align-items: center;
    padding: 20px;
    max-width: 70%;
}

/* Cada “tecla” */
.skills-container img {
    font-size: 85px;
    width: 120px;
    height: 120px;
    padding: 15px;
    border-radius: 15px;
    filter: drop-shadow(0 0 2px #ffffff0e) drop-shadow(0 0 5px #ffffff0e);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5), inset 0 -2px 5px rgba(255, 255, 255, 0.2);
    transition: transform 0.2s, box-shadow 0.2s, filter 0.2s;
    cursor: pointer;
}

.skills-container img:nth-child(1){
    background: linear-gradient(to bottom, var(--gradient1-boxproject), rgba(255, 94, 0, 0.4));
}
.skills-container img:nth-child(1):hover{
    transform: translateY(-5px) scale(1.1);
    box-shadow: 0 10px 20px #c04b15;
    filter: brightness(1.2);
}

.skills-container img:nth-child(2){
    background: linear-gradient(to bottom, var(--gradient1-boxproject), rgba(0, 132, 255, 0.4));
}

.skills-container img:nth-child(2):hover{
    transform: translateY(-5px) scale(1.1);
    box-shadow: 0 10px 20px #1559c0;
    filter: brightness(1.2);
}

.skills-container img:nth-child(3){
    background: linear-gradient(to bottom, var(--gradient1-boxproject), rgba(255, 208, 0, 0.4));
}

.skills-container img:nth-child(3):hover{
    transform: translateY(-5px) scale(1.1);
    box-shadow: 0 10px 20px #c0a615;
    filter: brightness(1.2);
}

.skills-container img:nth-child(4){
    background: linear-gradient(to bottom, var(--gradient1-boxproject), rgba(0, 255, 213, 0.4));
}

.skills-container img:nth-child(4):hover{
    transform: translateY(-5px) scale(1.1);
    box-shadow: 0 10px 20px #15c0b7;
    filter: brightness(1.2);
}

.skills-container img:nth-child(5){
    background: linear-gradient(to bottom, var(--gradient1-boxproject), rgba(255, 255, 255, 0.4));
}

.skills-container img:nth-child(5):hover{
    transform: translateY(-5px) scale(1.1);
    box-shadow: 0 10px 20px #f8f8f8;
    filter: brightness(1.2);
}

.skills-container img:nth-child(6){
    background: linear-gradient(to bottom, var(--gradient1-boxproject), rgba(115, 255, 0, 0.4));
}

.skills-container img:nth-child(6):hover{
    transform: translateY(-5px) scale(1.1);
    box-shadow: 0 10px 20px #4bc015;
    filter: brightness(1.2);
}

.skills-container img:nth-child(7){
    background: linear-gradient(to bottom, var(--gradient1-boxproject), rgba(255, 0, 0, 0.4));
}

.skills-container img:nth-child(7):hover{
    transform: translateY(-5px) scale(1.1);
    box-shadow: 0 10px 20px #c01515;
    filter: brightness(1.2);
}

.skills-container img:nth-child(8){
    background: linear-gradient(to bottom, var(--gradient1-boxproject), rgba(255, 94, 0, 0.4));
}

.skills-container img:nth-child(8):hover{
    transform: translateY(-5px) scale(1.1);
    box-shadow: 0 10px 20px #c04b15;
    filter: brightness(1.2);
}

.skills-container img:nth-child(9){
    background: linear-gradient(to bottom, var(--gradient1-boxproject), rgba(78, 78, 78, 0.4));
}

.skills-container img:nth-child(9):hover{
    transform: translateY(-5px) scale(1.1);
    box-shadow: 0 10px 20px #000000;
    filter: brightness(1.2);
}

.skills-container img:nth-child(10){
    background: linear-gradient(to bottom, var(--gradient1-boxproject), rgba(0, 132, 255, 0.4));
}

.skills-container img:nth-child(10):hover{
    transform: translateY(-5px) scale(1.1);
    box-shadow: 0 10px 20px #1559c0;
    filter: brightness(1.2);
}

/* Responsivo: ajusta ícones menores em telas pequenas */
@media (max-width: 900px) {
    .skills-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 20px;
        max-width: 100%;
    }

    .skills-container img,
    .skills-container i {
        font-size: 38px;
        width: 70px;
        height: 70px;
    }
}

@media (orientation: landscape) and (max-height: 768px) {
    .skills-container {
        gap: 30px;
        padding: 10px 0;
        max-width: 55%;
    }

    .skills-container img,
    .skills-container i {
        font-size: 50px;
        width: 100px;
        height: 100px;
    }
}