name: Build React App

on:
  push:
    branches:
      - main  # roda quando fizer push na branch main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Dependencies
        run: npm install
      - name: Set Env Variable for React Build
        run: echo "REACT_APP_GITHUB_TOKEN=${{ secrets.REACT_APP_GITHUB_TOKEN }}" >> $GITHUB_ENV
      - name: Build
        run: CI=false npm run build