name: Build React App

on:
  push:
    branches:
      - main  # roda quando fizer push na branch main

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      REACT_APP_GITHUB_TOKEN: ${{ secrets.REACT_APP_GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v3
      - name: Install Dependencies
        run: npm install
      - name: Build
        run: CI=false npm run build
